<h1>Subir un nuevo auto para su venta</h1>

<%= flash[:error]%>

<%= form_with model: @car, url: cars_path do |form| %>
    <label> Marca </label>
  <%= form.text_field :brand  %> 
  <br/>
  <label> Modelo </label>
  <%= form.text_field :model %>
  <br/>
  <label> Price </label>
  <%= form.number_field :price %>
  <br/>
  <%= form.submit 'Enviar' %>
<% end %>